@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes slider {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-slider {
  width: max-content;
  animation: slider 15s linear infinite;
}